<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
</head>
<body>
    <header>
        <div class="logo"><a href="/">InsiderBoard</a></div>
    </header>
    <h1>Log In</h1>
    <form action="/log-in" method="POST">
      <label for="username">
        <span>E-mail</span>
        <input id="username" name="username" placeholder="email" type="email" required/>
      </label>
      <label for="password">
        <span>Password</span>
        <input id="password" name="password" type="password" required/>
      </label>
      <% if (locals.errors) { %>
        <ul>
          <% errors.forEach(error => { %>
            <li style="color: red;"><%= error %></li>
          <% }) %>
        </ul>
      <% } %>      
      <button type="submit">Log In</button>
      <p>Don't have an account? <a href="/sign-up">Create a new one</a></p>
    </form>
</body>
</html>