<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/assets/ib.png" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Sign Up Form</title>
</head>
<body>
    <header>
        <div class="logo"><a href="/">InsiderBoard</a></div>
    </header>
    <main class="main-center">
        <h1>Sign Up</h1>
        <form action="" method="POST">
            <label for="firstname">
                <span>First Name <span class="indicator">*</span></span>
                <input id="firstname" name="firstname" type="text" required/>
            </label>
            <label for="lastname">
                <span>Last Name <span class="indicator">*</span></span>
                <input id="lastname" name="lastname" type="text" required/>
            </label>
            <label for="username">
                <span>E-mail <span class="indicator">*</span></span>
                <input id="username" name="username" type="email" required/>
            </label>
            <label for="password" class="password-wrapper">
                <span>Password <span class="indicator">*</span></span>
                <div class="password-container">
                    <input id="password" name="password" type="password" required />
                    <span id="togglePassword" class="toggle-password">
                       
                        <svg id="eyeIcon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zm-8 4a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5z"/>
                        </svg>
                    </span>
                </div>
            </label>            
            <label for="confirmPassword" class="password-wrapper">
                <span>Confirm Password <span class="indicator">*</span></span>
                <div class="password-container">
                    <input id="confirmPassword" name="confirmPassword" type="password" required />
                    <span id="toggleConfirmPassword" class="toggle-password">
                        <svg id="eyeIcon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zm-8 4a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5z"/>
                        </svg>
                    </span>
                </div>
            </label>            
            <% if (locals.errors) { %>
                <ul style="color: red;">
                    <% errors.forEach(function(error) { %>
                        <li><%= error %></li>
                    <% }); %>
                </ul>
            <% } %>
            <button>Sign Up</button>
            <p>Already have an account? <a href="/log-in">Sign In</a></p>
        </form>
    </main>
    <script>
        const togglePassword = document.getElementById('togglePassword');
        const passwordInput = document.getElementById('password');
    
        togglePassword.addEventListener('click', function () {
            
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);

            this.classList.toggle('active');
        });

        const toggleConfirmPassword = document.getElementById('toggleConfirmPassword');
        const confirmPasswordInput = document.getElementById('confirmPassword');

        toggleConfirmPassword.addEventListener('click', function () {
            const type = confirmPasswordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            confirmPasswordInput.setAttribute('type', type);
            this.classList.toggle('active');
        });
    </script>    
</body>
</html>